.App {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.section {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}

.section h1 {
  color: #333;
  margin-bottom: 30px;
}

.section-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 35px;
}

.product {
  overflow: hidden;
  background: #fff;
  margin-bottom: 20px;
  position: relative;
}

.product img {
  width: 100%;
  min-height: 300px;
  display: block;
  margin-bottom: -40px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Adjust the shadow to match your design */
}

.material-button {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 7px 12px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 12px;
}

.walnut {
  background-color: rgb(88, 47, 17);
  border-radius: 75%;
  width: 20px;
  height: 20px;
}

.oak {
  background-color: rgb(221, 181, 134);
  border-radius: 75%;
  width: 20px;
  height: 20px;
}

.black-wood {
  background-color: rgb(10, 4, 1);
  border-radius: 75%;
  width: 20px;
  height: 20px;
}

.expresso {
  background-color: rgb(68, 33, 9);
  border-radius: 75%;
  width: 20px;
  height: 20px;
}

.sandstone {
  background-color: rgb(236, 235, 231);
  border-radius: 75%;
  width: 20px;
  height: 20px;
}

.pebble {
  background-color: rgb(90, 90, 90);
  border-radius: 75%;
  width: 20px;
  height: 20px;
}

.eclipse {
  background-color: rgb(29, 29, 29);
  border-radius: 75%;
  width: 20px;
  height: 20px;
}

.twilight {
  background-color: rgb(153, 153, 153);
  border-radius: 75%;
  width: 20px;
  height: 20px;
}

.solstice {
  background-color: rgb(248, 248, 248);
  border-radius: 75%;
  width: 20px;
  height: 20px;
}

.product-name {
  color: rgb(11, 35, 65);
  font-size: 16px;
  line-height: 19px;
  margin-top: 40px;
  padding: 20px 0px 5px 1px;
  font-weight: bold;
}

.price {
  font-size: 14px;
  margin-top: auto;
  color: rgb(83, 84, 138);
}

.customize {
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgb(105, 162, 255);
  text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .section-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 10px;
  }
  .walnut {
    background-color: rgb(88, 47, 17);
    border-radius: 75%;
    width: 15px;
    height: 15px;
  }

  .oak {
    background-color: rgb(221, 181, 134);
    border-radius: 75%;
    width: 15px;
    height: 15px;
  }

  .black-wood {
    background-color: rgb(10, 4, 1);
    border-radius: 75%;
    width: 15px;
    height: 15px;
  }
  .expresso {
    background-color: rgb(68, 33, 9);
    border-radius: 75%;
    width: 15px;
    height: 15px;
  }

  .sandstone {
    background-color: rgb(236, 235, 231);
    border-radius: 75%;
    width: 15px;
    height: 15px;
  }

  .pebble {
    background-color: rgb(90, 90, 90);
    border-radius: 75%;
    width: 15px;
    height: 15px;
  }

  .eclipse {
    background-color: rgb(29, 29, 29);
    border-radius: 75%;
    width: 15px;
    height: 15px;
  }

  .twilight {
    background-color: rgb(153, 153, 153);
    border-radius: 75%;
    width: 15px;
    height: 15px;
  }

  .solstice {
    background-color: rgb(248, 248, 248);
    border-radius: 75%;
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 768px) {
  .section h1 {
    text-align: center;
  }

  .section-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .product {
    width: 100%;
  }
}
